body{
    position: relative;
    // 四大重點出現 Bug x 軸
    width: 100%;
}
.border-20{
    @include rwd($mobile){
        border-radius: 20px;
    }
}
.pill-title{
    border-radius: 50px;
    padding: 15px 30px;
    display: inline-block;
}
.section-gutter{
    margin-top: 50px;
    margin-bottom: 50px;
    @include rwd($mobile-sm){
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
.ourGoal-header{
    position: relative;
    height: 100vh;
    background: linear-gradient(-195deg, #231f20 50%, transparent 50%) center center/100% 100%, #fbd23b;
    // background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include rwd($ipad){
        background: linear-gradient(#231f20 50%, transparent 50%) center center/100% 100%, #fbd23b;
        // background-attachment: fixed;
    }
}
.ourGoal-header-content{
    position: absolute;
    left: 50%;
    bottom: -1.5px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        margin-left: 20px;
        margin-bottom: 30px;
        font-size: 2.5rem;
        @include rwd($ipad){
            font-size: 3.5rem;
        }
    }
}
.ourGoal-banner-man{
    width: 250px;
    @include rwd($mobile-sm){
        width: 300px;
    }
}
.ourGoal-menu-top{
    // max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0 15px;
    @include rwd($pc){
        padding: 15px 80px 0;
    }
    a{
        display: block;
    }
    .logo{
        background: url(../img/logo-white.svg);
        width: 80px;
        height: 80px;
        background-size: 65px;
        background-repeat: no-repeat;
        background-position: center center;
        white-space: nowrap;
        text-indent: 101%;
        overflow: hidden;
    }
}
.section-title{
    margin: 80px 0;
    text-align: center; 
    display: flex;
    flex-direction: column;
    @include rwd($ipad){
        margin: 150px 30px;
        flex-direction: row;
    }
    align-items: center;
    justify-content: center;
    h2{
        @include rwd($ipad){
            font-size: 2.5rem;
        }
    }
}
.section-num{
    margin-bottom: 25px;
    border-radius: 50%;
    background-color: #fbd23b;
    padding: 15px;
    box-shadow: -8px -5px 0px 0px rgba(35,31,32,1);
    @include rwd($ipad){
        margin-right: 20px;
        margin-bottom: 0px;
    }
}
// .Vdem-section{
//     max-width: 960px;
//     margin: 0 auto;
// }
.Vdem-title{
    color: #fff;
    -webkit-text-stroke: 0.8px #231f20;
    @include rwd($pc){
        font-size: 2rem;
    }
}
.Vdem-date{
    text-align: center;
    p{
        display: inline-block;
        line-height: 1.5rem;
        font-size: 1.5rem;
        border-radius: 50px;
        padding: 15px 30px;
        @include rwd($ipad){
            border-radius: 0;
            padding: 40px 20px;
        }
    }  
}
.pie-chart{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 30px;
    &:nth-child(2){
        margin-top: 0px;
    }
    display: block;
    @include rwd($ipad){
        width: 30%;
    }
}
.pie-chart-text{
    margin: 15px;
    @include rwd($pc){
        margin-left: 100px;
        margin-right: 150px;
        font-size: 1.5rem;
    }
}
.phone-imitate{
    max-width: 900px;
    border-radius: 50px;  
    padding: 15px;
    @include rwd($pc){
        padding: 25px;
        margin: 0 auto;
    }
    .screen{
        border-radius: 50px;
        background-color: #fff;
        padding: 15px;
        @include rwd($pc){
            padding: 20px;
        }
        text-align: center;
        position: relative;
        h3{
            border-radius: 50px;
            display: inline-block;
            color: #fff;
            padding: 10px 30px;
            margin-top: 20px;
        }
        p{
            font-size: 1.1rem;
            font-weight: 700;
            @include rwd($mobile-sm){
                font-size: 1.5rem;
                padding: 20px 40px 0; 
            }
        }
        img{
            position: relative;
            bottom: -53px;
            margin-top: -80px;
            @include rwd($mobile){
                bottom: -58px;
            }
        }
    }
}
.phone-imitate-text{
    font-weight: bold;
    @include rwd($ipad){
        font-size: 1.3rem;
    }
}
.reason-circleBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color:  #231f20;
    width: 140px;
    height: 140px;
    border-radius: 50%; 
    text-decoration: none;
    transition: all .2s;
    &:hover{
        transform: scale(1.1);
    }
    @include rwd($mobile){
        width: 150px;
        height: 150px;
    }
    @include rwd($ipad){
        width: 200px;
        height: 200px;
    }
    span{
        font-weight: 900;
        @include rwd($mobile){
            font-size: 1.5rem;
        }
    }
}
.reactModel-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fbd23b;
    transition: 0.5s;
    height: 0;
    overflow-x: hidden;
    z-index: 10;
    .reactModel-close{
        display: block;
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        &:hover{
            transform: scale(1.3);
        }
    }
}
.reactModel-content{
    position: relative;
    @include rwd($mobile){
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: 40px;
    } 
}
.reactModel-Text{
    padding: 0px;
    @include rwd(1000px){
        padding: 0px 100px;
    }
    h2{
        text-align: center;
        color: #fff;
        -webkit-text-stroke: 0.8px #231f20;
        @include rwd($ipad){
            font-size: 3rem;
            text-align: start;
        }
    }
    p{
        @include rwd($ipad){
            font-size: 1.5rem;
        }
    }
}
.reactModel-img{
    display: block;
    width: 350px;
    margin: 0 auto;
}
.example-block{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include rwd($pc){
        padding: 20px;
    }
    img{
        width: 100%;
        max-height: 200px;
        @include rwd($mobile){
            max-height: 300px;
        }
        object-fit: cover;
        border-radius: 20px;
    }
}
.example-text{
    h3{
        font-size: 1.3rem;
        @include rwd($mobile){
            font-size: 1.75rem;
        }
    }
}
.example-img{
    overflow: hidden;
    border-radius: 20px;
    a:hover{
        transform: scale(1.1);
    }
}
.example-btn{
    width: 100%;
    margin-bottom: 10px;
    @include rwd($mobile){
        width: auto;
        margin-bottom: 0;
    }
    a{
        display: block;
        border-radius: 50px;
        text-align: center;
        background-color: #fbd23b;
        color: #ffffff;
        padding: 10px 30px; 
        &:hover{color: #000000};
        
    }
}
.swiper-container {
    width: 100%;
    display: block;
    @include rwd(768px){
        display: none;
    }
}
// 四大重點
// .keyNote{
    
// }
// 有 bug 找不到問題
.keyNote-content{
    position: absolute;  
    left: 0;
    right: 0;
    background-color: #dddddd;
}
.keyNote-title{
    padding: 15px 30px;
    display: inline-block;
    border-radius: 50px;
    font-size: 1.5rem;
    text-align: center;
}
.keyNote-thumbnail{
    position: relative;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 4px;
        transform: translateY(-50%);
        background-color:#231f20;
    }
}
.keyNote-thumbnail-btn{
    border-radius: 50%;
    z-index: 10;
    width: 20px;
    height: 20px;
    background-color: #231f20;
    &.active{
        background-color: #fbd23b;
        transform: scale(1.75);
    }
}
.keyNote-text-title{
    font-size: 1.5rem;
    @include rwd($mobile-sm){
        font-size: 1.75rem;
    }
}
