$pc: 960px;
$ipad: 768px;
$mobile: 767px;
$mobile-sm: 576px;
@font-face {
    font-family: 'oxxo';
    src: url("../font/jf-openhuninn-1.1.ttf");
} 
@font-face {
    font-family: 'bold-title';
    src: url("../font/GenJyuuGothicL-Heavy.ttf"); 
} 
@font-face {
    font-family: 'gameIntro-txt';
    src: url("../font/GenJyuuGothicX-Bold.ttf"); 
} 
@font-face {
    font-family: 'gameIntro-txt-heavy';
    src: url("../font/GenJyuuGothicX-Heavy.ttf"); 
} 